<form [formGroup]="temperatureForm" class="text-center border border-light p-5">

  <p class="h4 mb-4">Temperature Converter</p>

  <p>Enter temperature value in Celsius or in Fahreinheit</p>

  <p>
    <a href="https://en.wikipedia.org/wiki/Temperature" target="_blank">Read More About Temperature</a>
  </p>

  <!-- Celsius Temperature -->
  <input type="number" id="celsius" formControlName="celsius" class="form-control mb-4" placeholder="Celsius Value">

  <!-- Email -->
  <input type="number" id="fahrenheit" formControlName="fahrenheit" class="form-control mb-4" placeholder="Fahreinheit Value">

</form>